# Turbo repo
turbo_modules/
dist/
.turbo
.next/**

# Node.js
node_modules/

# Build output
build/**
dist/**
out/**

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

.DS_Store

